@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.9rem;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 10rem 1.3rem 0 1.3rem;
    height: 13rem;
    border: 0.2rem solid white;
    display: flex;
    flex-direction: column;
    border: 0.2rem solid white;
    text-transform: uppercase;
    color: white;
    font-size: 2.5rem;
}

h2 {
    margin: 0 1.4rem 0 1.4rem;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 40rem;
    background: {
        image: url("../../images/mobile/image-hero.jpg");
        size: cover;
        position: center center;
    }
}

.nav {
    margin: 2.5rem 1.3rem 0 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-nav {
    width: 9rem;
}

.top-nav {
    display: none;
}

.title {
    margin-left: 1.3rem;
}

.title:first-child {
    margin-top: 1.6rem;
}

.title-words {
    display: flex;
    flex-direction: column;
    margin-top: -1.5rem;
}

.big-card {
    width: 85%;
    margin-top: 5rem;
    text-align: center;
}

.interactive {
    margin-bottom: 3rem;
}

.p-bold {
    margin: 1.3rem 1.4rem 4.5rem 1.4rem;
    font-family: 'Alata', sans-serif;
    font-size: 0.9rem;
    color: hsl(0, 0%, 55%);
    line-height: 1.5rem;
}

.creations-title {
    margin-bottom: 2.3rem;
}

.card-container {
    margin: 0 1.4rem 1rem 1.4rem;
}

.card-picture {
    position: relative;
    z-index: 1;
}

.card-title {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 3.2rem 0 0 1.2rem;
}

.see-all-desktop {
    display: none;
}

button {
    width: 9rem;
    height: 2.2rem;
    border: 0.1rem solid black;
    background-color: white;
    font {
        family: 'Alata', sans-serif;
        size: 0.9rem;
    }
    text-transform: uppercase;
    letter-spacing: 0.23rem;
    margin-top: 0.7rem;
}

.see-all a {
    color: black;
}

footer {
    width: 100%;
    margin-top: 5.5rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer {
    width: 8rem;
    margin: 3rem 0 1.9rem 0;
}

.footer-nav a {
    color: white;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.social-footer {
    margin-left: 1.6rem;
}

.social-icon {
    margin: 0 0.6rem 2rem 0;
}

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribution p, a {
    color: white;
}

.attribution a {
    text-decoration: underline;
}

@media screen and (min-width: 1440px) {
    main {
        max-width: 1440px;
    }

    h1 {
        margin: 8rem 39rem 0 8.9rem;
        height: 17.5rem;
        border: 0.2rem solid white;
        display: flex;
        flex-direction: column;
        border: 0.2rem solid white;
        text-transform: uppercase;
        color: white;
        font-size: 4.4rem;
    }

    h2 {
        font-size: 3rem;
    }

    header {
        background-image: url(../../images/desktop/image-hero.jpg);
    }

    .nav {
        margin: 4rem 8.9rem 0 8.9rem;
    }

    .logo-nav {
        width: 10rem;
    }

    .burger-nav {
        display: none;
    }

    .top-nav {
        width: 25rem;
        display: flex;
        justify-content: space-between;
        font-weight: 700;
    }

    .title {
        margin-left: 3.5rem;
    }
    
    .title:first-child {
        margin-top: 2.5rem;
    }

    .title:last-child {
        margin: 2.5rem 0 0 1.3rem;
    }

    .title-words {
        display: flex;
        flex-direction: row;
        margin-top: -2rem;
    }

    .big-card {
        margin-top: 9rem;
    }
    
    .interactive {
        position: relative;
        z-index: 1;
        margin-right: 25.5rem;
    }

    .image-card {
        width: 36rem;
        height: 19.75rem;
        position: absolute;
        z-index: 2;
        margin: -23rem 0 0 37.5rem;
        background-color: white;
        text-align: left;
    }
    
    .image-card h2 {
        text-align: left;
        margin: 6rem 0 0 6rem;
    }

    .p-bold {
        font-size: 0.96rem;
        margin-left: 6rem;
    }

    .title-button {
        width: 74rem;
        display: flex;
        justify-content: space-between;
        margin-left: 7.5rem;
    }

    .creations-title {
        margin-top: 0.6rem;
    }

    .see-all {
        display: none;
    }

    .see-all-desktop {
        display: block;
        margin-right: 1.5rem;
    }

    .see-all-desktop a {
        color: black;
    }

    .all-cards {
        margin: 0 7.5rem 0 7.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .four-cards {
        display: flex;
        align-items: center;
    }

    .card-title {
        font-size: 2rem;
        margin: 21.5rem 0 0 2.5rem;
    }

    .card-picture:hover {
        opacity: 0.5;
        color: black;
    }

    .footer-nav {
        display: flex;
        flex-direction: row;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 2rem;
    }

    .first-bloc {
        margin-left: 9rem;
    }

    .second-bloc {
        margin-right: 9rem;
        margin-top: 2rem;
    }

    .social-icon {
        margin: 0 0.6rem 2rem 0;
    }

    .footer-nav a{
        margin-right: 2rem;
        font: {
            weight: 700;
            size: 0.9rem;
        }
    }
    
}